name: Build

on:
  push:
    paths-ignore:
    - 'README.md'
    - 'CHANGES.md'
    - 'LICENSE'

jobs:
  build:
    runs-on: macos-26
    env:
      XCODE: /Applications/Xcode_26.2.app
      XCODE_SDK: iphoneos26.2
    steps:
    - uses: actions/checkout@v5
    - name: Select Xcode Version
      run: sudo xcode-select -s '${{ env.XCODE }}/Contents/Developer'
    - name: Show Xcode Version
      run: xcodebuild -version
    - name: Create Environment.swift
      run: cp SoraQuickStart/Environment.example.swift SoraQuickStart/Environment.swift
    - name: Build Xcode Project
      run: |
        set -o pipefail && \
          xcodebuild \
            -project 'SoraQuickStart.xcodeproj' \
            -scheme 'SoraQuickStart' \
            -sdk ${{ env.XCODE_SDK }} \
            -arch arm64 \
            -configuration Release \
            -derivedDataPath build \
            -skipPackagePluginValidation \
            clean build \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            CODE_SIGN_IDENTITY= \
            PROVISIONING_PROFILE= \
            ASSETCATALOG_COMPILER_GENERATE_ASSET_SYMBOLS=NO
    - name: Format Lint
      run: make fmt-lint
  release:
    if: contains(github.ref, 'tags/v')
    needs: [build]
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1.1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

